/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #adafa7;
}

header {
    background: #201300;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* General Styles */

.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: #dac107;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #a5930b;
}

.welcome-container {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #007BFF, #00C853);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.head1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.paragraphyz{
    font-size: 18px;
}

span{
    color: #000;
}


.arrow-container {
    position: relative;
    width: 600px;
    height: 800px;
}

.up-arrow {
    width: 80px;
    animation: moveUp 2s infinite ease-in-out;
}

@keyframes moveUp {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(20px);
    }
}